<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
  <h1>Login Page</h1>
  <div class="button-container">
    <button onclick="redirectToPage()" class="button">Login as Customer</button>
    <button onclick="redirectToPage2()" class="button">Login as Rider</button>
  </div>
  <script>
    function redirectToPage() {
        window.location.href = '/userLogin'; // replace "/another-page" with the desired URL
    }
    function redirectToPage2() {
        window.location.href = '/rider'; // replace "/another-page" with the desired URL
    }
    </script>
</body>
</html>