<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rider Login</title>
  <link rel="stylesheet" href="rider.css">
</head>
<body>
  <div class="Login">
  <h1>Login</h1>
  <form method="post" action="/rider">
    <label for="mobile">Mobile No:</label>
    <input type="text" id="mobile" name="mobile" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <button type="submit">Login</button>
  </form>
</div>
<section>
  <img src="deliverman.png"  class="deliverman">
</section>
<div class="Account">
  <h3>Don't have an account? <a href="/riderRegister">Create New User</a></h3>
</div>
</body>
</html>