<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="userLogin.css">
  <style>
    /* Style for the logout button container */
    .back-container {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    /* Style for the logout button */
    .back-button {
        background-color: #f15a24;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
    }
</style>
</head>
<body>
  <!-- Back button -->
  <div class="back-container">
    <button class="back-button" onclick="goBack()">Back</button>
</div>

  <div class="container">
    <div class="login-container">
      <h1>Login</h1>
      <form method="post" action="/userLogin">
        <div class="input-container">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div class="input-container">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
      </form>
      <p class="create-user-link">Don't have an account? <a href="/userRegister">Create New User</a></p>
    </div>
  </div>

  <script>
    // JavaScript function to go back
    function goBack() {
      window.location.href = '/';
    }
  </script>
</body>
</html>
